.category-card {
  width: 10.4375rem;
  height: 10.4375rem;
  flex-shrink: 0;
  text-align: center;
}

.category-image {
 width: 10.4375rem;
height: 10.4375rem;
flex-shrink: 0;
  object-fit: cover;
  border-radius: 50%
}

.category-title {
  color:var(--text);
  font-family: 'Inter', sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.375rem;
  font-feature-settings: 'liga' off, 'clig' off;
  margin-top: 0.5rem;
}
