.heading-review{
    font-size: 1.4rem;
    color: var(--text);
}
.review-card .bi-star-fill, .review-card .bi-star{
    color: var(--text);
    font-size: 1.2rem ;
}

.text-review{
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-gray) ;
    font-family: inherit;
}
 .btn-primary1{
    background-color: var(--text);
    color: var(--bg);
    border: 1px solid var(--text);
    padding: .375rem 2.5rem;
    border-radius: 5rem;
}
.btn-primary1:hover{
    background-color: var(--bg);
    color: var(--text);
    border: 1px solid var(--text);
}