@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.authContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
  overflow-y: auto;
}

.authImageSection {
  display: block;
  height: 100vh;
  overflow: hidden;
}

.authImageSection img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.authFormSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  background-color: #ffffff;
  min-height: 100vh;
  overflow-y: auto;
  flex: 1;
}

.formWrapper {
  width: 100%;
  max-width: 34rem;
  padding: 1rem;
  margin: 1rem 0;
}

.formWrapper h2 {
  font-family: Poppins, sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
  color: #141718;
}
.formWrapper .insturctionsText {
  text-align: center;
  color: #6c7275;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 400;
}

.switchAuthLink {
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #6c7275;
  margin-top: 1.5rem;
  text-align: center;
}

.switchAuthLink a {
  color: #38cb89;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

.inputGroup {
  position: relative;
  margin-bottom: 1.5rem;
  width: 100%;
}

.inputGroup label {
  position: absolute;
  top: -0.625rem;
  left: 0.75rem;
  background-color: #ffffff;
  padding: 0 0.25rem;
  font-size: 0.75rem;
  color: #202525;
  font-weight: 500;
}

.inputGroup input {
  width: 100%;
  padding: 0.8rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 0.95rem;
  outline: none;
  transition: border-color 0.2s;
}

.inputGroup input:focus {
  border-color: #141718;
}

.passwordInputContainer {
  position: relative;
}
.passwordInput {
  padding-right: 3rem !important;
}

.passwordIcon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #6c7275;
}

.submitBtn {
  width: 100%;
  background-color: #141718;
  color: #ffffff;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  padding: 0.8rem 2.5rem;
  transition: background-color 0.2s;
}

.submitBtn:hover {
  background-color: #2a2d2e;
}

.submitBtn:disabled {
  background-color: #6c7275;
  cursor: not-allowed;
}

@media (min-width: 768px) {
  .authContainer {
    flex-direction: row;
  }
  .authImageSection {
    flex: 0 0 50%;
  }
  .authFormSection {
    flex: 1;
  }
}

@media (max-width: 767px) {
  .authImageSection {
    display: none;
  }
  .formWrapper h2 {
    font-size: 2rem;
  }
}
